<form method="post" action="{{ path('actividade_delete', {'id': actividade.id}) }}" onsubmit="return confirm('Pretendes eliminar esta Actividade?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ actividade.id) }}">
    <button class="btn">Eliminar</button>
</form>
