
<!-- Card Body -->
<div class="card-body">
    {{ form_start(form) }}
    <div class="form-row">
        <div class="col-sm-6">
            <label for="actividade_descricao" class="control-bale">Descrição</label>
            {{ form_widget(form.descricao, {'attr': {'class': "form-control", 'placeholder':'Leve descrição'}}) }}
        </div>
        <div class="col-sm-6">
            <label for="actividade_tipo" class="control-bale">Tipo de Actividade</label>
            {{ form_widget(form.tipo, {'attr': {'class': "form-control", 'placeholder':'Tipo de Actividade'}}) }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-6">
            <label for="actividade_preco" class="control-bale">Preço</label>
            {{ form_widget(form.preco, {'attr': {'class': "form-control", 'placeholder':'00.00 KZ'}}) }}
        </div>
        <div class="col-sm-6">
            <label for="actividade_data" class="control-bale">Data do Evento</label>
            {{ form_widget(form.data, {'attr': {'class': "form-control"}}) }}
        </div>
    </div>
    <div class="form-row mt-3">
        <div class="col-sm-12">
            <button class="btn btn-success mr-auto ml-auto">{{ button_label|default('Salvar') }}</button>
        </div>
    </div>
    {{ form_end(form) }}
</div>