{% extends 'base.html.twig' %}

{% block title %}Actividades{% endblock %}

{% block css %}
    <link href="{{ asset('vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Actividades</h1>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <!-- Dropdown Card Example -->
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Lista</h6>
                    <div class="no-arrow">
                        <a class="btn btn-primary" href="{{ path('actividade_new') }}">
                            <i class="fas fa-plus fa-sm fa-fw text-gray-400"></i> Registar
                        </a>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Descrição</th>
                                    <th>Tipo</th>
                                    <th>Preço</th>
                                    <th>Data do Evento</th>
                                    <th>Data de Registo</th>
                                    {% if app.user.permissao.nome == "ROLE_ADMIN" %} 
                                    <th>Operações</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for actividade in actividades %}
                                    <tr>
                                        <td>{{ actividade.id }}</td>
                                        <td>{{ actividade.descricao }}</td>
                                        <td>{{ actividade.tipo }}</td>
                                        <td>{{ actividade.preco~" Kz" }}</td>
                                        <td>{{ actividade.data ? actividade.data|date('d/m/Y') : '' }}</td>
                                        <td>{{ actividade.createAt ? actividade.createAt|date('d/m/Y H:i') : '' }}</td>
                                       {% if app.user.permissao.nome == "ROLE_ADMIN" %} 
                                        <td>
                                            <a class="btn btn-sm btn-info" href="{{ path('actividade_show', {'id': actividade.id}) }}">Vizualizar</a>
                                            <a class="btn btn-sm btn-warning" href="{{ path('actividade_edit', {'id': actividade.id}) }}">Editar</a>
                                        </td>
                                    {% endif %}
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td class="text-center" colspan="9">Nenhum dado foi encontrado</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('vendor/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('js/demo/datatables-demo.js') }}"></script>
{% endblock %}
