{% extends 'base.html.twig' %}

{% block title %}Actividade{% endblock %}

{% block body %}
    <h1>Actividade</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ actividade.id }}</td>
            </tr>
            <tr>
                <th>Descricao</th>
                <td>{{ actividade.descricao }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ actividade.tipo }}</td>
            </tr>
            <tr>
                <th>Preco</th>
                <td>{{ actividade.preco~" KZ" }}</td>
            </tr>
            <tr>
                <th>Data</th>
                <td>{{ actividade.data ? actividade.data|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>CreateAt</th>
                <td>{{ actividade.createAt ? actividade.createAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('actividade_index') }}">Listar</a>

    <a href="{{ path('actividade_edit', {'id': actividade.id}) }}">Editar</a>

    {{ include('actividade/_delete_form.html.twig') }}
{% endblock %}
