<form method="post" action="{{ path('pagar_item_delete', {'id': pagar_item.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pagar_item.id) }}">
    <button class="btn btn-danger btn-sm">Delete</button>
</form>
