<!-- Card Body -->
<div class="card-body">
    {{ form_start(form) }}
    <div class="form-row">
        <div class="col-sm-6">
            <label for="pagar_item_item" class="control-bale">Produto</label>
            {{ form_widget(form.item, {'attr': {'class': "form-control", 'placeholder':''}}) }}
        </div>
        <div class="col-sm-6">
            <label for="pagar_item_estudante" class="control-bale">Estudante</label>
            {{ form_widget(form.estudante, {'attr': {'class': "form-control"}}) }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-12">
            <label for="pagar_item_preco" class="control-bale">Valor</label>
            {{ form_widget(form.valor, {'attr': {'class': "form-control", 'placeholder':'00.00 KZ'}}) }}
        </div>
    </div>
    <div class="form-row mt-3">
        <div class="col-sm-12">
            <button class="btn btn-success mr-auto ml-auto">{{ button_label|default('Salvar') }}</button>
        </div>
    </div>
    {{ form_end(form) }}
</div>
