{% extends 'base.html.twig' %}

{% block title %}Editar Pagamento do produto{% endblock %}

{% block body %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Editar Pagamento de produto</h1>
    </div>

    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <!-- Dropdown Card Example -->
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Editar</h6>
                    <div class="no-arrow">
                        <a class="btn btn-primary" href="{{ path('pagar_item_index') }}">
                            <i class="fas fa-list fa-sm fa-fw text-gray-400"></i> Ver pagamentos
                        </a>
                    </div>
                </div>
                {{ include('pagar_item/_form.html.twig', {'button_label': 'Atualizar'}) }}
            </div>
        </div>
    </div>   
{% endblock %}
