{% extends 'base.html.twig' %}

{% block title %}Pagar produtos{% endblock %}
{% block css %}
    <link href="{{ asset('vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Pagamentos dos produtos</h1>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <!-- Dropdown Card Example -->
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Lista</h6>
                    <div class="dropdown no-arrow">
                        <a class="btn btn-primary" href="{{ path('pagar_item_new') }}">
                            <i class="fas fa-plus fa-sm fa-fw text-gray-400"></i> Efectuar Pagamento
                        </a>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nome</th>
                                    <th>Estudante</th>
                                    <th>Classe</th>
                                    <th>Preço</th>
                                    {% if app.user.permissao.nome == "ROLE_ADMIN" %} 
                                    <th></th>
                                    <th></th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for pagar_item in pagar_items %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ pagar_item.item.nome }}</td>
                                        <td>{{ pagar_item.estudante.nome~" "~pagar_item.estudante.nomeFamilia }}</td>
                                        <td>{{ pagar_item.estudante.classe.nome }}</td>
                                        <td>{{ pagar_item.valor~" KZ" }}</td>
                                        {% if app.user.permissao.nome == "ROLE_ADMIN" %} 
                                        <td>
                                            {{ include('pagar_item/_delete_form.html.twig') }}
                                        </td>
                                        <td>
                                            <a class="btn btn-sm btn-warning" href="{{ path('pagar_item_edit', {'id': pagar_item.id}) }}">Editar</a>
                                        </td>
                                        {% endif %}
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td class="text-center" colspan="9">Nenhum dado foi encontrado</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('vendor/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('js/demo/datatables-demo.js') }}"></script>
{% endblock %}