{% extends 'base.html.twig' %}

{% block title %}Novo PagarItem{% endblock %}

{% block body %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Pagar um Produto</h1>
    </div>

    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <!-- Dropdown Card Example -->
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Registar</h6>
                    <div class="no-arrow">
                        <a class="btn btn-primary" href="{{ path('pagar_item_index') }}">
                            <i class="fas fa-list fa-sm fa-fw text-gray-400"></i> Listar
                        </a>
                    </div>
                </div>
                {{ include('pagar_item/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
