{% extends 'base.html.twig' %}

{% block title %}PagarItem{% endblock %}

{% block body %}
    <h1>PagarItem</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pagar_item.id }}</td>
            </tr>
            <tr>
                <th>Data</th>
                <td>{{ pagar_item.data ? pagar_item.data|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('pagar_item_index') }}">back to list</a>

    <a href="{{ path('pagar_item_edit', {'id': pagar_item.id}) }}">edit</a>

    {{ include('pagar_item/_delete_form.html.twig') }}
{% endblock %}
