<form method="post" action="{{ path('pagar_actividade_delete', {'id': pagar_actividade.id}) }}" onsubmit="return confirm('Voce pretende eliminar este registro?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pagar_actividade.id) }}">
    <button class="btn btn-danger">Eliminar</button>
</form>
