{% extends 'base.html.twig' %}

{% block title %}PagarActividade{% endblock %}

{% block body %}
    <h1>PagarActividade</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pagar_actividade.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('pagar_actividade_index') }}">back to list</a>

    <a href="{{ path('pagar_actividade_edit', {'id': pagar_actividade.id}) }}">edit</a>

    {{ include('pagar_actividade/_delete_form.html.twig') }}
{% endblock %}
