
<!-- Card Body -->
<div class="card-body">
    {{ form_start(form) }}
    {% if(erro) %}
        <div class="form-row">
            <div class="col-sm-12">
                <div class="alert alert-danger">{{ erro }}</div>
            </div>
        </div>
    {% endif %}
    <div class="form-row">
        <div class="col-sm-6">
            <label for="documento_tipo" class="control-bale">Aluno / Estudante</label>
            {{ form_widget(form.estudante, {'attr': {'class': "form-control"}}) }}
        </div>
        <div class="col-sm-6">
            <label for="documento_mes" class="control-bale">Mês a pagar</label>
            {{ form_widget(form.mes, {'attr': {'class': "form-control"}}) }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-12">
            <label for="documento_borderaux" class="control-bale">Borderaux <small>(Opcional)</small></label>
            {{ form_widget(form.borderaux, {'attr': {'class': "form-control", 'placeholder':'XXXXXXXXXXX'}}) }}
        </div>
        <div class="col-sm-12">
            <label for="documento_valor" class="control-bale">Valor Pago</label>
            {{ form_widget(form.valor, {'attr': {'class': "form-control", 'placeholder':'0,00'}}) }}
        </div>
    </div>
    <div class="form-row mt-3">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-success mr-auto ml-auto">{{ button_label|default('Salvar') }}</button>
        </div>
    </div>
    {{ form_end(form) }}
</div>