{% extends 'base.html.twig' %}

{% block title %}Propinas{% endblock %}
{% block css %}
    <link href="{{ asset('vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Relatório</h1>
{#        <h1 class="h3 mb-0 text-gray-800">Mensalidade</h1>#}
                <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Salvar Relatório</a>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <!-- Dropdown Card Example -->
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Lista</h6>
                    <div class="dropdown no-arrow">
                        <a class="btn btn-primary" href="{{ path('mensalidade_new') }}">
                            <i class="fas fa-plus fa-sm fa-fw text-gray-400"></i> Efectuar Pagamento
                        </a>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nome</th>
                                    <th>Nome de Família</th>
                                    <th>BI</th>
                                    <th>Classe</th>
                                    <th>Mes</th>
                                    <th>Borderaux</th>
                                    <th>Valor</th>
                                    {% if app.user.permissao.nome == "ROLE_ADMIN" %} 
                                    <th>Operações</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for mensalidade in mensalidades %}
                                    <tr>
                                        <td>{{ mensalidade.id }}</td>
                                        <td>{{ mensalidade.estudante.nome }}</td>
                                        <td>{{ mensalidade.estudante.nomeFamilia }}</td>
                                        <td>{{ mensalidade.estudante.numeroBi }}</td>
                                        <td>{{ mensalidade.estudante.classe.nome }}</td>
                                        <td>{{ mensalidade.mes.nome }}</td>
                                        <td>{{ mensalidade.borderaux }}</td>
                                        <td>{{ mensalidade.valor~" KZ" }}</td>
                                        {% if app.user.permissao.nome == "ROLE_ADMIN" %} 
                                        <td>
                                            <a class="btn btn-sm btn-info" href="{{ path('mensalidade_show', {'id': mensalidade.id}) }}">Visualizar</a>
                                            <a class="btn btn-sm btn-warning" href="{{ path('mensalidade_edit', {'id': mensalidade.id}) }}">Editar</a>
                                        </td>
                                        {% endif %}
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td class="text-center" colspan="8">Nenhum dado foi encontrado</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('vendor/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('js/demo/datatables-demo.js') }}"></script>
{% endblock %}