{% extends 'base.html.twig' %}

{% block title %}Mensalidade{% endblock %}

{% block body %}
    <h1>Mensalidade</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mensalidade.id }}</td>
            </tr>
            <tr>
                <th>Borderaux</th>
                <td>{{ mensalidade.borderaux }}</td>
            </tr>
            <tr>
                <th>Valor</th>
                <td>{{ mensalidade.valor }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('mensalidade_index') }}">back to list</a>

    <a href="{{ path('mensalidade_edit', {'id': mensalidade.id}) }}">edit</a>

    {{ include('mensalidade/_delete_form.html.twig') }}
{% endblock %}
