<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('home') }}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-calc"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Gestão Escolar</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('home') }}">
            <i class="fas fa-fw fa-home-alt"></i>
            <span>Home</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Administrativo
    </div>
    
    
    {% if app.user.permissao.nome == "ROLE_ADMIN" %} 
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo1" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-user"></i>
            <span>Utilizador</span>
        </a>
        <div id="collapseTwo1" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Operação</h6>
                <a class="collapse-item" href="{{ path('utilizador_index') }}">Listar</a>
                <a class="collapse-item" href="{{ path('utilizador_new') }}">Registar</a>
            </div>
        </div>
    </li>
    {% endif %}

    {% if app.user.permissao.nome == "ROLE_SECRETARIO" or app.user.permissao.nome == "ROLE_ADMIN" %}
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-user"></i>
            <span>Estudante</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Operação</h6>
                <a class="collapse-item" href="{{ path('estudante_index') }}">Listar</a>
                <a class="collapse-item" href="{{ path('estudante_new') }}">Registar</a>
            </div>
        </div>
    </li>
    {% endif %}
    
    {% if app.user.permissao.nome == "ROLE_SECRETARIO" or app.user.permissao.nome == "ROLE_ADMIN" %}
    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fab fa-fw fa-bitcoin"></i>
            <span>Pagamento</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Operação</h6>
                <a class="collapse-item" href="{{ path('mensalidade_new') }}">Proprina</a>
                <a class="collapse-item" href="{{ path('pagar_actividade_new') }}">Actividade</a>
                <a class="collapse-item" href="{{ path('solicitar_documento_new') }}">Solicitar Documento</a>
                <a class="collapse-item" href="{{ path('pagar_item_new') }}">Comprar Produtos</a>
            </div>
        </div>
    </li>
    {% endif %}
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Configurações
    </div>
    {% if app.user.permissao.nome == "ROLE_ADMIN" %} 
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#confDoc" aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-file"></i>
            <span>Documento</span>
        </a>
        <div id="confDoc" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Acção</h6>
                <a class="collapse-item" href="{{ path('documento_index') }}">Listar</a>
                <a class="collapse-item" href="{{ path('documento_new') }}">Registar</a>
{#                <a class="collapse-item" href="forgot-password.html">Forgot Password</a>#}
            </div>
        </div>
    </li>
    {% endif %}
    
    {% if app.user.permissao.nome == "ROLE_ADMIN" %} 
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#confActiv" aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-bullseye"></i>
            <span>Actividades</span>
        </a>
        <div id="confActiv" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Acção</h6>
                <a class="collapse-item" href="{{ path('actividade_index') }}">Listar</a>
                <a class="collapse-item" href="{{ path('actividade_new') }}">Registar</a>
{#                <a class="collapse-item" href="forgot-password.html">Forgot Password</a>#}
            </div>
        </div>
    </li>
    {% endif %}
    
    {% if app.user.permissao.nome == "ROLE_ADMIN" %} 
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#confMes" aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-calendar"></i>
            <span>Mes</span>
        </a>
        <div id="confMes" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Acção</h6>
                <a class="collapse-item" href="{{ path('mes_index') }}">Listar</a>
{#                <a class="collapse-item" href="forgot-password.html">Forgot Password</a>#}
            </div>
        </div>
    </li>
    {% endif %}

    {% if app.user.permissao.nome == "ROLE_ADMIN" %} 
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#confItem" aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-barcode"></i>
            <span>Produtos da Instituição</span>
        </a>
        <div id="confItem" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Acção</h6>
                <a class="collapse-item" href="{{ path('item_index') }}">Listar</a>
                <a class="collapse-item" href="{{ path('item_new') }}">Registar</a>
            </div>
        </div>
    </li>
    {% endif %}
    
    {% if app.user.permissao.nome == "ROLE_ADMIN" %} 
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Estatísticas
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#confRel" aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-file-alt"></i>
            <span>Relatório</span>
        </a>
        <div id="confRel" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Listas</h6>
                <a class="collapse-item" href="{{ path('mensalidade_index') }}">Ver Relatório</a>
            </div>
        </div>
    </li>
    {% endif %} 
    
</ul>
<!-- End of Sidebar -->






<!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>


            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ app.user.nome }}</span>
                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                {#<a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Perfil
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Editar
                </a>#}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ path('app_logout') }}">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Sair
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->