<!-- Card Body -->
<div class="card-body">
    {{ form_start(form) }}
    <div class="form-row">
        <div class="col-sm-6">
            <label for="utilizador_nome" class="control-bale">Nome</label>
            {{ form_widget(form.nome, {'attr': {'class': "form-control", 'placeholder':''}}) }}
        </div>
        <div class="col-sm-6">
            <label for="utilizador_email" class="control-bale">Email</label>
            {{ form_widget(form.email, {'attr': {'class': "form-control", 'placeholder':'exemplo@don.com'}}) }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-6">
            <label for="utilizador_password" class="control-bale">Password</label>
            {% if edit == false %}
            {{ form_widget(form.password, {'attr': {'class': "form-control", 'placeholder':''}}) }}
            {% else %}
            {{ form_widget(form.password, {'attr': {'class': "form-control", 'style':'display:none', 'placeholder':''}}) }}
            {% endif %}
        </div>
        <div class="col-sm-6">
            <label for="utilizador_permissoa" class="control-bale">Tipo</label>
            {{ form_widget(form.permissao, {'attr': {'class': "form-control", 'placeholder':'Descreva o produto'}}) }}
        </div>
    </div>
    <div class="form-row mt-3">
        <div class="col-sm-12">
            <button class="btn btn-success mr-auto ml-auto">{{ button_label|default('Salvar') }}</button>
        </div>
    </div>
    {{ form_end(form) }}
</div>