{% extends 'base.html.twig' %}

{% block title %}Utilizador index{% endblock %}

{% block css %}
    <link href="{{ asset('vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Utilizador</h1>
        {#        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>#}
    </div>

    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <!-- Dropdown Card Example -->
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Lista</h6>
                    <div class="dropdown no-arrow">
                        <a class="btn btn-primary" href="{{ path('utilizador_new') }}">
                            <i class="fas fa-plus fa-sm fa-fw text-gray-400"></i> Registar
                        </a>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nome</th>
                                    <th>Email</th>
                                    <th>Tipo</th>
{#                                    <th>Permissão</th>#}
                                    <th>Password</th>
                                    <th>Operação</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for utilizador in utilizadors %}
                                    <tr>
                                        <td>{{ utilizador.id }}</td>
                                        <td>{{ utilizador.nome }}</td>
                                        <td>{{ utilizador.email }}</td>
                                        <td>{{ utilizador.permissao.descricao ? utilizador.permissao.descricao : '' }}</td>
                                        <td>{{ utilizador.password|slice(0, 9)}}</td>
                                        <td>
                                            <a class="btn btn-sm btn-warning" href="{{ path('utilizador_edit', {'id': utilizador.id}) }}">Editar</a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td class="text-center" colspan="9">Nenhum dado foi encontrado</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{{ asset('vendor/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('js/demo/datatables-demo.js') }}"></script>
{% endblock %}
