{% extends 'base.html.twig' %}

{% block title %}Utilizador{% endblock %}

{% block body %}
    <h1>Utilizador</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ utilizador.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ utilizador.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ utilizador.roles ? utilizador.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ utilizador.password }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ utilizador.nome }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('utilizador_index') }}">back to list</a>

    <a href="{{ path('utilizador_edit', {'id': utilizador.id}) }}">edit</a>

    {{ include('utilizador/_delete_form.html.twig') }}
{% endblock %}
