<form method="post" action="{{ path('solicitar_documento_delete', {'id': solicitar_documento.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ solicitar_documento.id) }}">
    <button class="btn">Delete</button>
</form>
