
<!-- Card Body -->
<div class="card-body">
    {{ form_start(form) }}
    <div class="form-row">
        <div class="col-sm-12">
            <label for="solicitar_documento_documento" class="control-bale">Nome do Documento</label>
            {{ form_widget(form.documento, {'attr': {'class': "form-control"}}) }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-12">
            <label for="solicitar_documento_estudante" class="control-bale">Estudante ou Aluno</label>
            {{ form_widget(form.estudante, {'attr': {'class': "form-control"}}) }}
        </div>
    </div>
    <div class="form-row mt-3">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-success mr-auto ml-auto">{{ button_label|default('Salvar') }}</button>
        </div>
    </div>
    {{ form_end(form) }}
</div>