{% extends 'base.html.twig' %}
{% block css %}
    <link href="{{ asset('vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Solicitações de Documentos</h1>
        {#        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>#}
    </div>

    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <!-- Dropdown Card Example -->
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Registros</h6>
                    <div class="dropdown no-arrow">
                        <a class="btn btn-primary" href="{{ path('solicitar_documento_new') }}">
                            <i class="fas fa-plus fa-sm fa-fw text-gray-400"></i> Registar
                        </a>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Documento</th>
                                    <th>Preço</th>
                                    <th>Estudante</th>
                                    <th>Classe</th>
                                    <th>Data</th>
                                    {% if app.user.permissao.nome == "ROLE_ADMIN" %} 
                                    <th>Operação</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for solicitar_documento in solicitar_documentos %}
                                    <tr>
                                        <td>{{ solicitar_documento.id }}</td>
                                        <td>{{ solicitar_documento.documento.nome }}</td>
                                        <td>{{ solicitar_documento.documento.preco~" KZ" }}</td>
                                        <td>{{ solicitar_documento.estudante.nome~" "~solicitar_documento.estudante.nomeFamilia }}</td>
                                        <td>{{ solicitar_documento.estudante.classe.nome }}</td>
                                        <td>{{ solicitar_documento.data ? solicitar_documento.data|date('d/m/Y') : '' }}</td>
                                        {% if app.user.permissao.nome == "ROLE_ADMIN" %} 
                                        <td>
                                            <a class="btn btn-warning" href="{{ path('solicitar_documento_edit', {'id': solicitar_documento.id}) }}">Editar</a>
                                        </td>
                                        {% endif %}
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td class="text-center" colspan="6">Nenhum dado foi encontrado</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{{ asset('vendor/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('js/demo/datatables-demo.js') }}"></script>
{% endblock %}
