{% extends 'base.html.twig' %}

{% block title %}SolicitarDocumento{% endblock %}

{% block body %}
    <h1>SolicitarDocumento</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ solicitar_documento.id }}</td>
            </tr>
            <tr>
                <th>Data</th>
                <td>{{ solicitar_documento.data ? solicitar_documento.data|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('solicitar_documento_index') }}">back to list</a>

    <a href="{{ path('solicitar_documento_edit', {'id': solicitar_documento.id}) }}">edit</a>

    {{ include('solicitar_documento/_delete_form.html.twig') }}
{% endblock %}
