{% extends 'base.html.twig' %}

{% block title %}Edit Servico{% endblock %}

{% block body %}
    <h1>Edit Servico</h1>

    {{ include('servico/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('servico_index') }}">back to list</a>

    {{ include('servico/_delete_form.html.twig') }}
{% endblock %}
