{% extends 'base.html.twig' %}

{% block title %}Servico index{% endblock %}

{% block body %}
    <h1>Servico index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Descricao</th>
                <th>Preco</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for servico in servicos %}
            <tr>
                <td>{{ servico.id }}</td>
                <td>{{ servico.nome }}</td>
                <td>{{ servico.descricao }}</td>
                <td>{{ servico.preco }}</td>
                <td>
                    <a href="{{ path('servico_show', {'id': servico.id}) }}">show</a>
                    <a href="{{ path('servico_edit', {'id': servico.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('servico_new') }}">Create new</a>
{% endblock %}
