{% extends 'base.html.twig' %}

{% block title %}Servico{% endblock %}

{% block body %}
    <h1>Servico</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ servico.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ servico.nome }}</td>
            </tr>
            <tr>
                <th>Descricao</th>
                <td>{{ servico.descricao }}</td>
            </tr>
            <tr>
                <th>Preco</th>
                <td>{{ servico.preco }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('servico_index') }}">back to list</a>

    <a href="{{ path('servico_edit', {'id': servico.id}) }}">edit</a>

    {{ include('servico/_delete_form.html.twig') }}
{% endblock %}
