<form method="post" action="{{ path('item_delete', {'id': item.id}) }}" onsubmit="return confirm('Pretendes eliminar este Produto?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
    <button class="btn">Eliminar</button>
</form>
