<!-- Card Body -->
<div class="card-body">
    {{ form_start(form) }}
    <div class="form-row">
        <div class="col-sm-6">
            <label for="item_nome" class="control-bale">Nome</label>
            {{ form_widget(form.nome, {'attr': {'class': "form-control", 'placeholder':''}}) }}
        </div>
        <div class="col-sm-6">
            <label for="item_preco" class="control-bale">Preço</label>
            {{ form_widget(form.preco, {'attr': {'class': "form-control", 'placeholder':'00.00 KZ'}}) }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-12">
            <label for="item_descricao" class="control-bale">Descrição</label>
            {{ form_widget(form.descricao, {'attr': {'class': "form-control", 'placeholder':'Descreva o produto'}}) }}
        </div>
    </div>
    <div class="form-row mt-3">
        <div class="col-sm-12">
            <button class="btn btn-success mr-auto ml-auto">{{ button_label|default('Salvar') }}</button>
        </div>
    </div>
    {{ form_end(form) }}
</div>