
<!-- Card Body -->
<div class="card-body">
    {{ form_start(form) }}
    <div class="form-row">
        <div class="col-sm-6">
            <label for="estudante_nome" class="control-bale">Nome</label>
            {{ form_widget(form.nome, {'attr': {'class': "form-control", 'placeholder':'Nome'}}) }}
        </div>
        <div class="col-sm-6">
            <label for="estudante_descricao" class="control-bale">Nome de Familia</label>
            {{ form_widget(form.nomeFamilia, {'attr': {'class': "form-control" ,'placeholder':'Último nome'}}) }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-3">
            <label for="estudante_genero" class="control-bale">Genero</label>
            {{ form_widget(form.genero, {'attr': {'class': "form-control"}}) }}
        </div>
        <div class="col-sm-3">
            <label for="estudante_classe" class="control-bale">Classe</label>
            {{ form_widget(form.classe, {'attr': {'class': "form-control"}}) }}
        </div>
        <div class="col-sm-6">
            <label for="estudante_responsavel" class="control-bale">Responsável</label>
            {{ form_widget(form.responsavel, {'attr': {'class': "form-control"}}) }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-6">
            <label for="estudante_telefone" class="control-bale">Telefone</label>
            {{ form_widget(form.telefone, {'attr': {'class': "form-control", 'length':'9', 'placeholder':'9XX XXX XXX' }}) }}
        </div>
        <div class="col-sm-6">
            <label for="estudante_morada" class="control-bale">Morada</label>
            {{ form_widget(form.morada, {'attr': {'class': "form-control", 'placeholder':'Localização atual'}}) }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-6">
            <label for="estudante_numeroBi" class="control-bale">Número do BI</label>
            {{ form_widget(form.numeroBi, {'attr': {'class': "form-control", 'legth':'15', 'placeholder':'XXXXXXXXXXXXXX'}}) }}
        </div>
        <div class="col-sm-6">
            <label for="estudante_preco" class="control-bale">Data de Nascimento</label>
            {{ form_widget(form.dataNasc, {'attr': {'class': "form-control"}}) }}
        </div>
    </div>
    <div class="form-row mt-3">
        <div class="col-sm-12">
            <button class="btn btn-success mr-auto ml-auto">{{ button_label|default('Salvar') }}</button>
        </div>
    </div>
    {{ form_end(form) }}
</div>
