{% extends 'base.html.twig' %}

{% block title %}Estudante lista{% endblock %}

{% block css %}
    <link href="{{ asset('vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Estudante</h1>
        {#        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>#}
    </div>

    <div class="row">
        <div class="col-lg-12">
            <!-- Dropdown Card Example -->
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Lista</h6>
                    <div class="dropdown no-arrow">
                        <a class="btn btn-primary" href="{{ path('estudante_new') }}">
                            <i class="fas fa-plus fa-sm fa-fw text-gray-400"></i> Cadastrar
                        </a>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nome</th>
                                    <th>N.de Familia</th>
                                    <th>Genero</th>
                                    <th>Morada</th>
                                    <th>Telefone</th>
                                    <th>D.Nascimento</th>
                                    <th>Nº Bi</th>
                                    <th>Classe</th>
                                    {% if app.user.permissao.nome == "ROLE_ADMIN" %} 
                                    <th>Operações</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody> 
                                {% for estudante in estudantes %}
                                    <tr>
                                        <td>{{ estudante.id }}</td>
                                        <td>{{ estudante.nome }}</td>
                                        <td>{{ estudante.nomeFamilia }}</td>
                                        <td>{{ estudante.genero }}</td>
                                        <td>{{ estudante.morada }}</td>
                                        <td>{{ estudante.telefone }}</td>
                                        <td>{{ estudante.dataNasc ? estudante.dataNasc|date('d/m/Y') : '------' }}</td>
                                        <td>{{ estudante.numeroBi }}</td>
                                        <td>{{ estudante.classe.preco~" KZ" }}</td>
                                        {% if app.user.permissao.nome == "ROLE_ADMIN" %} 
                                        <td>
{#                                            <a class="btn btn-sm btn-info" href="{{ path('estudante_show', {'id': estudante.id}) }}">Visualizar</a>#}
                                            <a class="btn btn-sm btn-warning" href="{{ path('estudante_edit', {'id': estudante.id}) }}">Editar</a>
                                        </td>
                                        {% endif %}
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td class="text-center" colspan="9">Nenhum dado foi encontrado</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{{ asset('vendor/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('js/demo/datatables-demo.js') }}"></script>
{% endblock %}