{% extends 'base.html.twig' %}

{% block title %}Estudante{% endblock %}

{% block body %}
    <h1>Estudante</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ estudante.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ estudante.nome }}</td>
            </tr>
            <tr>
                <th>NomeFamilia</th>
                <td>{{ estudante.nomeFamilia }}</td>
            </tr>
            <tr>
                <th>Genero</th>
                <td>{{ estudante.genero }}</td>
            </tr>
            <tr>
                <th>Morada</th>
                <td>{{ estudante.morada }}</td>
            </tr>
            <tr>
                <th>Telefone</th>
                <td>{{ estudante.telefone }}</td>
            </tr>
            <tr>
                <th>DataNasc</th>
                <td>{{ estudante.dataNasc ? estudante.dataNasc|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>NumeroBi</th>
                <td>{{ estudante.numeroBi }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('estudante_index') }}">back to list</a>

    <a href="{{ path('estudante_edit', {'id': estudante.id}) }}">edit</a>

    {{ include('estudante/_delete_form.html.twig') }}
{% endblock %}
