
<!-- Card Body -->
<div class="card-body">
    {{ form_start(form) }}
    <div class="form-row">
        <div class="col-sm-12">
            <label for="documento_nome" class="control-bale">Nome</label>
            {{ form_widget(form.nome, {'attr': {'class': "form-control"}}) }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-12">
            <label for="documento_descricao" class="control-bale">Descrição</label>
            {{ form_widget(form.descricao, {'attr': {'class': "form-control"}}) }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-6">
            <label for="documento_preco" class="control-bale">Preço</label>
            {{ form_widget(form.preco, {'attr': {'class': "form-control"}}) }}
        </div>
        <div class="col-sm-6">
            <label for="documento_tipo" class="control-bale">Tipo</label>
            {{ form_widget(form.tipo, {'attr': {'class': "form-control"}}) }}
        </div>
    </div>
    <div class="form-row mt-3">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-success mr-auto ml-auto">{{ button_label|default('Salvar') }}</button>
        </div>
    </div>
    {{ form_end(form) }}
</div>