{% extends 'base.html.twig' %}

{% block title %}Editar Documento{% endblock %}

{% block body %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Documento</h1>
        {#        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>#}
    </div>

    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <!-- Dropdown Card Example -->
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Atualizar os Dados</h6>
                    <div class="dropdown no-arrow">
                        <a class="btn btn-primary" href="{{ path('documento_index') }}">
                            <i class="fas fa-plus fa-sm fa-fw text-gray-400"></i> Listar
                        </a>
                    </div>
                </div>
                {{ include('documento/_form.html.twig', {'button_label': 'Atualizar'}) }}
            </div>
        </div>
    </div>
{% endblock %}
