{% extends 'base.html.twig' %}

{% block title %}Documento lista{% endblock %}

{% block body %}
    <h1>Documento</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ documento.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ documento.nome }}</td>
            </tr>
            <tr>
                <th>Descricao</th>
                <td>{{ documento.descricao }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ documento.tipo }}</td>
            </tr>
            <tr>
                <th>Preco</th>
                <td>{{ documento.preco }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('documento_index') }}">back to list</a>

    <a href="{{ path('documento_edit', {'id': documento.id}) }}">edit</a>

    {{ include('documento/_delete_form.html.twig') }}
{% endblock %}
