
<!-- Card Body -->
<div class="card-body">
    {{ form_start(form) }}
    <div class="form-row">
        <div class="col-sm-4 offset-sm-4">
            <label for="mes_isLectivo" class="control-label bg-warning text-light">Clique no espaço amarelo pra mudar o estado
            {{ form_widget(form.isLectivo,{'attr':{'class': 'form-control'}}) }}</label><br>
            <button class="btn btn-success">{{ button_label|default('Salvar') }}</button>
        </div>
    </div>
{{ form_end(form) }}
</div>