{% extends 'base.html.twig' %}

{% block title %}Editar Mes{% endblock %}

{% block body %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Mês</h1>
    </div>

    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <!-- Dropdown Card Example -->
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Atualizar</h6>
                </div>
                {{ include('mes/_form.html.twig', {'button_label': 'Salvar estado'}) }}
            </div>
        </div>
    </div>
{% endblock %}
