{% extends 'base.html.twig' %}

{% block title %}Mes{% endblock %}

{% block css %}
    <link href="{{ asset('vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Mês</h1>
        {#        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>#}
    </div>

    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <!-- Dropdown Card Example -->
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Lista</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nome</th>
                                    <th>Ordem</th>
                                    <th>Lectivo</th>
                                    <th>Operações</th>
                                </tr>
                            </thead>
                            <tbody> 
                                {% for me in mes %}
                                    <tr>
                                        <td>{{ me.id }}</td>
                                        <td>{{ me.nome }}</td>
                                        <td>{{ me.ordem }}</td>
                                        <td>{{ me.isLectivo ? 'Sim' : 'Não' }}</td>
                                        <td>
                                            <a class="btn btn-sm btn-warning" href="{{ path('mes_edit', {'id': me.id}) }}">Mudar o estado</a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td class="text-center" colspan="9">Nenhum dado foi encontrado</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{{ asset('vendor/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('js/demo/datatables-demo.js') }}"></script>
{% endblock %}